@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
  box-sizing: border-box;
}
html{
  background-image: linear-gradient(to right,#51b2ea,#ab12e8);
  opacity: .8; 

}
.App{
  margin: 20px 10px;
  display: flex;
  justify-content: center;
}

form{
  width: 620px;
  border: 2px solid black;
  padding: 15px;
  background-color: #fff;
  border-radius: 8px;
}

.input-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 10px;
}


input{
  margin-block: 5px;
  height: 24px;
  border-radius: 3px;
  width: 95%;
}

textarea{
  display: flex;
  justify-content: center;
  height: 85px;
  width: 96%;
  margin-left: 10px;
}

#btn{
  margin-top: 20px;
  margin-left: 44.2%;
  justify-content: center;
  padding: 3px 10px;
  border-radius: 5px;
  box-shadow: .5px 1px .5px .5px gray;
  cursor: pointer;
 
}

.badges{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.badgeList{
  margin-block: 10px;
  margin-right: 20px;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
  width: 620px;
  display: grid;
  grid-template-areas: 
  "header header"
  "one two"
  "textarea textarea" 
  ;
  background-color: #fffefe28;
  font-weight: 500;
}

.badge-header{
  grid-area: header;
  background-color: black;
  color: #fff;
  border-radius: 5px;
  padding: 5px 7px;
}

.leftItems{
  grid-area: one;
  padding-left: 25px;
}
.rightItems{
  grid-area: two;
}

#text{
  grid-area: textarea ;
  width: 92%;
  margin: 0 20px 20px 20px;
  border-radius: 3px;
  
}